@media screen and (min-width: 1200px) {
  .promo__cta {
    animation-name: slideIn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .touch__decor {
    animation-name: slideOn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    rotate: 0deg;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
    rotate: 180deg;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    rotate: 360deg;
  }
}
