@use "../base/variables.scss" as *;
.title-h2-about {
  margin: 60px 0 58px 0;
}

.img__about__began {
  margin-bottom: 35px;
}

.text__about__began p {
  margin-bottom: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232323;
}
